<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljh.mappers.adminMapper">
	<select id="category" resultType="com.ljh.domain.CategoryVO">
		SELECT level, cateName, cateCode, cateCodeRef FROM goods_category
		START WITH cateCodeRef IS NULL CONNECT BY PRIOR cateCode = cateCodeRef
	</select>
</mapper>